body {
    background-image: url(https://imgs.search.brave.com/Oj5NbiAIcD9Snx29ecJH1D5FBrnMAclSn8PsBez5X0M/rs:fit:1200:1200:1/g:ce/aHR0cHM6Ly9pbWFn/ZXMuZnJlZWNyZWF0/aXZlcy5jb20vd3At/Y29udGVudC91cGxv/YWRzLzIwMTYvMDQv/QmVhdXRpZnVsLVBs/YWluLVdlYnNpdGUt/QmFja2dyb3VuZC5q/cGc);
    /* background-color: rgb(0, 18, 83); */
}
a {
    color: rgb(26, 113, 194);
}
h1 {
    text-align: center;
}